* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maindiv {
  background-color: #f5fcff;
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.subdiv1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 4rem;
  gap: 10px;
}

.subdiv1 p {
  font-weight: 500;
}

.subdiv1 h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: start;
}

.subdiv1 h5 {
  text-align: start;
  font-size: 20px;
  font-weight: 400;
}

.subdiv1 .fbutton {
  background-color: #5e3bee;
  color: white;
  width: 20vh;
  height: 5vh;
  border: none;
  border-radius: 5px;
}

.subdiv2 img {
  width: 110vh;
}
/*******************Section 2********/
.section2 {
  padding-top: 100px;
}

.second {
  padding-bottom: 50px;
}
.seconddiv {
  text-align: start;
  padding-left: 2rem;
  padding-right: 2rem;
}

.seconddiv p {
  font-weight: 500;
}

.seconddiv h1 {
  font-weight: 700;
}

.secondsubdiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.secondsubdiv1 {
  background-color: #f5fcff;
  padding: 20px;
  width: 700vh;
  height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
  border-radius: 12px;
}

.secondsubdiv1:hover {
  border-bottom: #4b3cb3 2px solid;
}
.secondsubdiv1 h4 {
  font-size: 20px;
  font-weight: 700;
}

.secondsubdiv1 p {
  font-size: 15px;
}

.secondsubdiv1 img {
  width: 7vh;
}

.img {
  background-color: white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 0px 0px #f5fcff;
  border-radius: 10px;
}

/*************************Section3*************************/
.section3 {
  padding-top: 70px;
  padding-bottom: 50px;
}
.thirdsubdiv {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  justify-content: space-between;
}

.thirdsubdiv1 img {
  width: 110vh;
}

.about {
  padding-top: 150px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about p {
  font-weight: 700;
}

.about h5 {
  font-weight: 500;
  line-height: 30px;
}

/*************** Section4***********************/
.section4 {
  padding-bottom: 150px;
}

.fourthdiv {
  text-align: start;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 5rem;
}

.recent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}
.recent1 {
  display: flex;
  flex-direction: column;
}

.recent1 p {
  font-weight: 700;
}

.recent1 h1 {
  font-weight: 700;
}
.recent2 img {
  width: 3vh;
}

.recent2 .gbutton {
  background-color: #7e69d3;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 5px;
}

.fourthsubdiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.fourthsubdiv1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: start;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 2rem;
  border-radius: 15px;
}

.fourthsubdiv1 p {
  padding-right: 2rem;
  padding-left: 1rem;
  font-size: 14px;
}

.fourthsubdiv1 h4 {
  padding-right: 2rem;
  padding-left: 1rem;
  font-weight: 600;
}

.fourthsubdiv1 h5 {
  padding-left: 1rem;
  padding-right: 0rem;
  font-weight: 600;
}
.fourthsubdiv1 img {
  width: 66vh;
}

.fourthsubdiv2 {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
}

.fourthsubdiv2:hover {
  border-bottom: #4b3cb3 2px solid;
}

.fourthsubdiv2 a img {
  border-bottom: 1px solid #4b3cb3;
}

.fourthsubdiv2 img {
  width: 2vh;
  height: 2vh;
  margin-left: 10px;
}

.fourthsubdiv2 p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/****************************SEction5****************************/
.fifthdiv {
  text-align: start;
  background-color: #f5fcff;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 100px;
  padding-top: 100px;
}

.fifth {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.fifthsubdiv {
  display: flex;
  flex-direction: column;
  border: 1px solid #006b6a;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}

.fifthsubdiv img {
  width: 3vh;
}

.fifthsubdivimg {
  display: flex;
  flex-direction: row;
}
.fifthsubdiv0 {
  display: flex;
  gap: 10px;
}

.fifthsubdiv1 img {
  width: 50px;
}

/******************** Form Section*********************/
.section6 {
  background-color: white;
  max-width: 600px;
  margin: auto auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.name-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.contact-form-container {
  max-width: 650px;
  width: 150%;
  padding: 20px;
  text-align: start;
}

.contact-form-container h2 {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 5px;
  text-align: center;
}

.contact-form-container h3 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.contact-form-container p {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: px solid black;
  border-radius: 4px;
  font-size: 1em;
}

.contact-form textarea {
  resize: none;
  height: 150px;
}

.form-group label {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox-container input[type="checkbox"] {
  display: none;
}

/* Custom checkbox appearance */
.checkbox-container .checkmark {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 4px;
  position: relative;
  margin-right: 10px;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark {
  background-color: black; /* change to preferred color */
}

.checkbox-container input[type="checkbox"]:checked + .checkmark::before {
  content: "✔";
  color: white;
  position: absolute;
  left: 3px;
  top: 0;
  font-size: 18px;
}

.checkbox-container .label-text {
  font-size: 16px;
  color: #333;
}

.formbutton {
  background-color: #5c4ce8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  width: 615px;
}

.formbutton:hover {
  background-color: #4b3cb3;
}

/* Mobile View Styling */
@media (max-width: 768px) {
  .maindiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
  }

  .subdiv1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .subdiv1 h1 {
    font-size: 35px;
    text-align: justify;
    line-height: 40px;
  }

  .subdiv1 h5 {
    font-size: 15px;
    text-align: justify;
  }

  .subdiv1 .fbutton {
    width: 20vh;
    margin-left: 90px;
  }

  .subdiv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 90px;
  }
  .subdiv2 img {
    width: 140%;
  }
  /***********Section2***************/
  .secondsubdiv {
    display: flex;
    flex-direction: column;
  }

  .secondsubdiv1 {
    width: auto;
  }

  /************Section3*************/
  .thirdsubdiv {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
  }
  .thirdsubdiv1 img {
    width: 100%;
  }
  .about {
    padding-top: 10px;
    text-align: justify;
  }
  .about p {
    text-align: center;
  }

  .about h1 {
    text-align: center;
    font-weight: 600;
  }
  .about h5 {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  /*****************Section4******************/
  .recent {
    display: flex;
    flex-direction: column;
  }

  .fourthsubdiv {
    display: flex;
    flex-direction: column;
  }

  .fourthsubdiv img {
    width: auto;
  }

  /*****************Section5****************/
  .fifth {
    display: flex;
    flex-direction: column;
  }

  /********************Form**************/
  .contact-form-container {
    width: auto;
  }
  .formbutton {
    width: auto;
  }
}
